<div class="wrapper">
  <div class="side-bar">
  <div class="chat">
    <div class="main-header">
    </div>
    <div class="message">
    </div>
    <div class="form">
    </div>
    <%= render "main_chat" %>
  </div>
</div>