<div class="wrapper">
  <div class="side-bar">
    <div class="side-header">
      <div class="user-name">
        <a href="#">Tom</a>
      </div>
      <div class="create-room">
        <a href="#">チャットを作成する</a>
      </div>
    </div>
    <div class="chat-room">
      <div class="room">
        <div class="room-name">
          <a href="#">chatroom1</a>
        </div>
      </div>
      <div class="room">
        <div class="room-name">
          <a href="#">chatroom2</a>
        </div>
      </div>
    </div>
    <%= render "side_bar" %>
  </div>
  <div class="chat">
    <div class="main-header">
    </div>
    <div class="message">
    </div>
    <div class="form">
    </div>
    <%= render "main_chat" %>
  </div>
</div>